[Unit]
Description=Vigicrues Data Service
After=network-online.target

[Service]
ExecStart=/usr/local/bin/commutator-vigicrues --stationid %%STATIONID%%
Restart=on-failure

[Install]
WantedBy=multi-user.target
